<div>  <!--주당톡 List 컨테이너-->

  <!--주당톡 Node 컨테이너-->
  <div class="grey-bb1px pl5p pr5p pt8px pb8px"
    ng-repeat="post in vm.Model.posts"
    ng-click="goToState('Main.Footer.TalkDetail', {postId: post.id}, 'forward');">
    <div class="row zero">
      <div class="col-auto zero mr2p flex-v">
        <!--익명일경우-->
        <img class="h37px w37px r50p"
          ng-if="post.isAnnonymous"
          src="img/defaultimg.png" >
        <!--익명아니면-->
        <img class="h37px w37px r50p"
          ng-if="!post.isAnnonymous"
          ng-src="{{post.owner | GetPhoto}}" >
      </div>
      <div class="col zero">
        <div class="row zero mt0px">
          <div class="col zero flex-v">
            <p class="zero">[{{post.category}}] {{post.title}}</p>
          </div>
        </div>
        <div class="row zero mt0px">
          <div class="col-auto zero flex-v mr2p">
            <p class="zero f12px dark-grey">
              <span ng-if="post.isAnnonymous">익명</span>
              <span ng-if="!post.isAnnonymous">{{post.owner.nickname}}</span>
            </p>
          </div>
          <div class="col-auto zero flex-v">
            <p class="zero f10px grey">{{post.createdAt | date: 'yyyy.MM.dd HH:ss'}}</p>
          </div>
        </div>
      </div>
      <div class="col-13 zero flex-v f10px dark-grey pb6px"
        style="align-items: flex-end; -webkit-align-items: flex-end;">
        <span>댓글 {{post.commentCount}}</span>
      </div>
    </div>
  </div>  <!--주당톡 Node 컨테이너 종료-->

</div>  <!--주당톡 List 컨테이너 종료-->