<div>  <!--주당톡 List 컨테이너-->

  <!--주당톡 Node 컨테이너-->
  <div class="grey-bb1px pl5p pr5p pt8px pb8px"
    ng-repeat="post in vm.Model.posts"
    ng-click="goToState('Main.Footer.TalkDetail', {postId: post.id}, 'forward');">
    <div class="row zero">
      <div class="col-auto zero mr2p flex-v">
        <img class="h37px w37px r50p"
          ng-if="post.isAnnonymous || !post.owner.profilePhoto.url"
          src="img/defaultimg.png" />
        <img class="h37px w37px r50p"
          ng-if="!post.isAnnonymous && post.owner.profilePhoto.url"
          ng-src="{{post.owner.profilePhoto.url}}" />
      </div>
      <div class="col zero">
        <div class="row zero mt0px">
          <div class="col zero flex-v">
            <p class="zero">[{{post.category}}] {{post.title}}</p>
          </div>
        </div>
        <div class="row zero mt0px">
          <div class="col-auto zero flex-v mr2p">
            <p class="zero f12px dark-grey">
              <span ng-if="post.isAnnonymous">익명</span>
              <span ng-if="!post.isAnnonymous">{{post.owner.nickname}}</span>
            </p>
          </div>
          <div class="col-auto zero flex-v">
            <p class="zero f11px grey">{{post.createdAt | date: 'HH:ss'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>  <!--주당톡 Node 컨테이너 종료-->

</div>  <!--주당톡 List 컨테이너 종료-->