<ion-view id="footer"
  cache-view="true"
  hide-back-button="true"
>

<!--
  // direction of navigation
  var DIRECTION_BACK = 'back';
  var DIRECTION_FORWARD = 'forward';
  var DIRECTION_ENTER = 'enter';
  var DIRECTION_EXIT = 'exit';
  var DIRECTION_SWAP = 'swap';
  var DIRECTION_NONE = 'none'; -->

<ion-nav-view name="Footer" class="positive-bg">
</ion-nav-view>

<ion-footer-bar class="zero white-bg h44px grey-bt1px">

  <div class="row zero flex-v h44px">

    <!-- Home -->
    <div class="col zero flex-h">
      <button class="button-icon ion-android-home icon-f25px"
        ng-class="{
          grey: !areStates(['Main.Footer.Home']),
          positive: areStates(['Main.Footer.Home'])
        }"
        ng-click="Footer.goToState('Main.Footer.Home', {});"
      >
      </button>
    </div>

    <!-- Event -->
    <div class="col zero flex-h">
      <button class="button-icon ion-wand grey icon-f25px"
        ng-class="{
          grey: !$state.includes('Main.Footer.EventTab'),
          positive: $state.includes('Main.Footer.EventTab')
        }"
        ng-click="Footer.goToState('Main.Footer.EventTab.JoodangEventList', {});">
      </button>
    </div>

    <!-- SearchTab -->
    <div class="col zero flex-h mt-9px">
      <button class="button-icon ion-android-search white-bg r50p p5px w44px grey-bt1px icon-f25px"
        ng-class="{
          grey: !$state.includes('Main.Footer.SearchTab'),
          positive: $state.includes('Main.Footer.SearchTab')
        }"
        ng-click="Footer.goToState('Main.Footer.SearchTab.ProvinceList', {});">
      </button>
    </div>

    <!-- TalkList -->
    <div class="col zero flex-h">
      <button class="button-icon ion-android-chat icon-f25px"
        ng-class="{
          grey: !areStates(['Main.Footer.TalkList']),
          positive: areStates(['Main.Footer.TalkList']),
        }"
        ng-click="Footer.goToState('Main.Footer.TalkList', {});">
      </button>
    </div>

    <div class="col zero flex-h">
      <button class="button-icon ion-android-more-horizontal grey icon-f25px"
        ng-class="{
          grey: !areStates(['Main.Footer.SettingList']),
          positive: areStates(['Main.Footer.SettingList'])
        }"
        ng-click="Footer.goToState('Main.Footer.SettingList', {});">
      </button>
    </div>

  </div>

</ion-footer-bar>

</ion-view>