<ion-view id="contact-create"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">문의하기</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
    class="has-header lighter-grey-bg">
    <!--문의하기에 대한 이미지 및 설명-->
    <div class="positive-bg pt20px pb20px">
      <div class="row zero">
        <div class="col zero flex">
          <img class="h130px"
            src="img/icon_inquery_03.png" alt="주당 이미지">
        </div>
      </div>
      <div class="row zero mt10px">
        <div class="col zero flex">
          <p class="zero white f12px lh20px center">
            주당에 궁금하신점이 있으시면<br/>
            언제든 문의해주세요!
          </p>
        </div>
      </div>
    </div>

    <!--문의 컨테이너-->
    <div class="pt20px pb20px pl5p pr5p">
      <!--이메일-->
      <div class="row zero">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">이메일</p>
        </div>
        <div class="col-80 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="이메일을 입력해주세요"
            ng-model="vm.Model.sendEmail.email" />
        </div>
      </div>

      <!--연락처-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">연락처</p>
        </div>
        <div class="col-80 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="20" placeholder="연락처를 입력해주세요"
            ng-model="vm.Model.sendEmail.phoneNumber" />
        </div>
      </div>

      <!--제목-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">제목</p>
        </div>
        <div class="col-80 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="제목을 입력해주세요"
            ng-model="vm.Model.sendEmail.title" />
        </div>
      </div>

      <!--내용-->
      <div class="row zero mt5px">
        <div class="col zero">
          <p class="zero dark-grey bold">내용</p>
        </div>
        <div class="col-80 zero flex-v">
          <textarea class="placeholder-grey grey-b1px r3px p10px"
            placeholder="상세내용을 입력해주세요." rows="4"
            ng-model="vm.Model.sendEmail.content"></textarea>
        </div>
      </div>

      <!--문의하기 버튼-->
      <div class="flex mt20px">
        <p class="zero pl25p pr25p pt10px pb10px positive-bg white f16px r20px"
          ng-click="vm.contactCreate();">문의하기</p>
      </div>

    </div>

  </ion-content>

  <!-- <ion-footer-bar class="bar-positive footer zero">
   </ion-footer-bar> -->
</ion-view>