<ion-view id="menu-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p">Menu</p>
  </ion-nav-title>

  <ion-content class="">
    <div class="relative p15px">  <!--컨텐츠 컨테이너-->

      <!--Food Header-->
      <div class="row zero">
        <div class="col zero">
          <p class="zero positive f16px bold">Food</p>
        </div>
      </div>

      <hr class="b0px h2px positive-bg" />

      <!--Food List 컨테이너-->
      <div class="relative dark-grey">

        <!--Food Node-->
        <div class="row zero pb5px"
          ng-repeat="product in vm.Model.products | filter: {category: 'FOOD'}">
          <div class="col zero">
            <p class="f12px bold">{{product.name}}</p>
          </div>
          <div class="zero flex">
            <p class="f12px bold grey">{{product.price}}</p>
          </div>
        </div>

      </div>  <!--Food List 컨테이너 종료 -->

      <!--Drinks Header-->
      <div class="row zero mt10px">
        <div class="col zero">
          <p class="zero positive f16px bold">Drinks</p>
        </div>
      </div>

      <hr class="b0px h2px positive-bg" />

      <!--Drinks List 컨테이너-->
      <div class="relative dark-grey">

        <!--Food Node-->
        <div class="row zero pb5px"
          ng-repeat="product in vm.Model.products | filter: {category: 'DRINK'}">
          <div class="col zero">
            <p class="f12px bold">{{product.name}}</p>
          </div>
          <div class="zero flex">
            <p class="f12px bold grey">{{product.price}}</p>
          </div>
        </div>

      </div>  <!--Drinks List 컨테이너 종료 -->

    </div>
  </ion-content>

  <!-- <ion-footer-bar class=""></ion-footer-bar> -->
</ion-view>