<ion-view id="keyword-search-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">키워드 검색</p>
  </ion-nav-title>

  <!-- <ion-header-bar class="h30px top44px light-grey-bb1px white-bg"
    no-tap-scroll="true"
  >
    <div class="row pl3p">
      <div class="col-10 flex-v">
        <i class="ion-android-locate positive f20px pl4p"></i>
      </div>
      <div class="col-auto flex-v">
        <p class="f14px zero">서울특별시 강남구 역삼동</p>
      </div>
      <div class="col flex-v pl5p">
        <p class="f8px zero grey-bg r20px p5">재설정</p>
      </div>
    </div>
  </ion-header-bar> -->

  <!-- <ion-header-bar
    no-tap-scroll="true"
  >
  </ion-header-bar> -->

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>

  <ion-content class="light-grey-bg"
    delegate-handle="keyword-search-list"
  >
    <div>   <!--컨텐츠 컨테이너-->

      <div ng-include="'state/0Template/Include/PlaceList.html'">
      </div>

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>