<ion-view id="my-message-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p bold">1:1 쪽지 모아보기</p>
  </ion-nav-title>

  <ion-content class="">
    <div>  <!--컨텐츠 컨테이너-->
      <div>  <!--List 컨테이너-->

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt5px pb5px pl5p pr5p dark-grey"
          ng-click="goToState('Main.MessageCreate', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <div class="relative">
                <img class="h40px r50p inline-block relative"
                  src="{{'img/_box200x200.png'}}" alt="매장 대표사진">
                <img class="absolute h20px"
                  style="top: -3px; right: -10px;"
                  src="img/icon_message_new.png" alt="새쪽지 알림"/>  <!--읽지않은 쪽지가 있을경우-->
              </div>
              <p class="zero f16px ml7p">{{"업체 이름"}}</p>
            </div>
            <div class="col-auto zero flex-v">
              <p class="zero f12px">{{"2016.02.19"}}</p>
            </div>
          </div>
        </div>

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt5px pb5px pl5p pr5p dark-grey"
          ng-click="goToState('Main.MessageCreate', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <div class="relative">
                <img class="h40px r50p inline-block relative"
                  src="{{'img/_box200x200.png'}}" alt="매장 대표사진">
                <img class="absolute h20px"
                  style="top: -3px; right: -10px;"
                  src="img/icon_message_new.png" alt="새쪽지 알림"/>  <!--읽지않은 쪽지가 있을경우-->
              </div>
              <p class="zero f16px ml7p">{{"업체 이름"}}</p>
            </div>
            <div class="col-auto zero flex-v">
              <p class="zero f12px">{{"2016.02.19"}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>

  <!-- <ion-footer-bar class="bottom44px zero">
  </ion-footer-bar> -->

</ion-view>