<ion-view id="z-password"
  cache-view="true"
  hide-back-button="true"
>

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
    ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    비밀번호 재설정
  </ion-nav-title>

  <ion-content class="pt10px">

    <!-- row -->
    <div class="light-grey-bg h44px w90p auto r5px flex-v pl5px mb10px">
      <div class="col-35">
        <p class="zero positive f14px bold letter-spacing-05">현재 비밀번호</p>
      </div>
      <div class="col zero">
        <input class="h20px f14px darker-grey bold"
          type="password"
          ng-model="Password.Model.form.oldPassword"
        >
      </div>
    </div>
    <!-- row -->
    <div class="light-grey-bg h44px w90p auto r5px flex-v pl5px mb10px">
      <div class="col-35">
        <p class="zero positive f14px bold letter-spacing-05">새 비밀번호</p>
      </div>
      <div class="col zero">
        <input class="h20px f14px darker-grey bold"
          type="password"
          ng-model="Password.Model.form.newPassword"
        >
      </div>
    </div>
    <!-- row -->
    <div class="light-grey-bg h44px w90p auto r5px flex-v pl5px mb10px">
      <div class="col-35">
        <p class="zero positive f14px bold letter-spacing-05">비밀번호 재입력</p>
      </div>
      <div class="col zero">
        <input class="h20px f14px darker-grey bold"
          type="password"
          ng-model="Password.Model.newPasswordConfirm"
        >
      </div>
    </div>

    <button class="button-icon w90p block positive-bg h44px auto r5px white bold f16px mt25px"
      ng-click="Password.sendForm()"
    >
      비밀번호 변경
    </button>

  </ion-content>
</ion-view>