<ion-view id="review-create"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">리뷰</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
   >

    <!--상단 별점주는 공간-->
    <div class="pl2p pr2p positive">  <!--컨테이너-->
      <div class="row zero mt10px">
        <div class="col zero flex">
          <p class="zero f20px">{{"T Pub"}}</p>
        </div>
      </div>
      <div class="row zero mt10px f24px flex">
        <div class="col-auto zero"
          ng-click="vm.setRating(1)">
          <i class="mr3px"
            ng-class="{'ion-android-star': vm.Model.review.rating > 0,
                      'ion-android-star-outline': vm.Model.review.rating < 1}"></i>
        </div>
        <div class="col-auto zero"
          ng-click="vm.setRating(2)">
          <i class="mr3px"
            ng-class="{'ion-android-star': vm.Model.review.rating > 1,
                      'ion-android-star-outline': vm.Model.review.rating < 2}"></i>
        </div>
        <div class="col-auto zero"
          ng-click="vm.setRating(3)">
          <i class="mr3px"
            ng-class="{'ion-android-star': vm.Model.review.rating > 2,
                      'ion-android-star-outline': vm.Model.review.rating < 3}"></i>
        </div>
        <div class="col-auto zero"
          ng-click="vm.setRating(4)">
          <i class="mr3px"
            ng-class="{'ion-android-star': vm.Model.review.rating > 3,
                      'ion-android-star-outline': vm.Model.review.rating < 4}"></i>
        </div>
        <div class="col-auto zero"
          ng-click="vm.setRating(5)">
          <i class="mr3px"
            ng-class="{'ion-android-star': vm.Model.review.rating > 4,
                      'ion-android-star-outline': vm.Model.review.rating < 5}"></i>
        </div>
      </div>
      <!--점수 표현--><!--
      <div class="row zero flex mt10px f24px"
        average-stars
        rating="5"
        vm="vm"
      > -->
      <div class="row zero mt10px mb20px">
        <div class="col zero flex">
          <p class="zero f12px">평점을 달아주세요.</p>
        </div>
      </div>
    </div>

    <hr class="b0px h2px positive-bg" />

    <!--상세 리뷰 작성공간-->
    <div class="pl2p pr2p">  <!--컨테이너-->
      <div class="row zero mb5px mt15px">
        <div class="col zero">
          <p class="f12px dark-grey bold">상세한 리뷰를 작성해주세요.</p>
        </div>
      </div>
      <div class="row zero mb25px">
        <div class="col zero">
          <form novalidate>
            <textarea class="w100p p10px light-bg"
              ng-model="vm.Model.review.content"
              rows="7" maxlength="1000" placeholder=""></textarea>
          </form>
        </div>
      </div>

      <!--사진등록 공간-->
      <div class="row zero mb15px">
        <div class="col zero">
          <p class="f12px dark-grey bold">사진등록 (최대 5장)</p>
        </div>
      </div>

      <div class="row zero mb30px">
        <!-- camera -->
        <div class="col-16 zero flex-v mr1p"
          ng-click="vm.getPhoto()"
        >
          <img class="h50px r5px" src="img/camera.png" alt="Camera">
        </div>

        <!-- Image Preview -->
        <div class="col-16 zero flex-v mr1p"
          ng-repeat="image in vm.Model.images"
          ng-click="PhotoClass.deselectImage(vm.Model.images, $index)"
        >
          <div class="relative">
            <img class="absolute positive h26px top-15px right-5px"
              alt="지우기 버튼"
              src="img/icon_photo_delete.png"
            >
            <img class="h50px r5px"
              alt="리뷰 사진"
              ngf-src="image"
              ng-if="!image.id"
            >
            <img class="h50px r5px"
              alt="리뷰 사진"
              ng-src="{{image.url}}"
              ng-if="image.id"
            >
          </div>
        </div> <!-- Image Preview End -->
      </div>
      <!--사진 (최대 5장)-->
      <!-- <div class="row zero mt5px">
        <div class="col zero flex-v"
          ng-repeat="photo in review.photos">
          <img class="w50px h50px r5px pr1p"
            ng-src="{{photo.url}}" alt="후기사진" />
        </div>
        <div class="col zero flex-v"
          ng-repeat="count in vm.getAverageRating(5-review.photos.length)">
          <div class="w50px h50px r5px pr1p"></div>
        </div>
      </div> -->

      <!--리뷰 등록하기 버튼-->
      <div class="flex">
        <p class="zero positive-bg r50px white f16px pl30p pr30p pt10px pb10px"
          ng-click="vm.create();">리뷰 등록하기</p>
      </div>

    </div>



  </ion-content>
</ion-view>