<ion-view id="place-detail"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      {{vm.Model.place.name}}
    </p>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button-icon ion-edit white f20px"
      ng-click="needLogin()
                ? goToState('Main.ReviewCreate', {placeId: vm.Model.place.id}, 'forward')
                : return;">
    </button>
  </ion-nav-buttons>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>



  <ion-content class="has-header"
    delegate-handle="place-detail"
  >

    <div class="relative">  <!--placeDetail 전체 컨테이너-->
      <!--슬라이드 box-->
      <ion-slide-box class="w100p auto" show-pager="true">
        <ion-slide ng-repeat="photo in vm.Model.place.photos">
          <img class="w100p block h75vw lazy-show"
            ng-src="{{photo.url}}" />
        </ion-slide>
        <!--포토가 하나도 없을경우-->
        <ion-slide ng-if="!vm.Model.place.photos">
          <img class="w100p block h75vw lazy-show"
            src="img/no_image.png" />
        </ion-slide>
      </ion-slide-box>

      <!--슬라이드 위에 붙는 스티커-->
      <div class="absolute h25px w100px top20px left0px"
        ng-if="vm.Model.place.showDiscountTag">
        <div class="row zero h25px">
          <div class="col zero h25px flex positive-bg">
            <p class="f12px white zero center">{{vm.Model.place.discountTitle}}</p>
          </div>
          <img class="col-10 h25px" src="img/home_detail_tag.png">
        </div>
      </div>

      <!--업체명-->
      <div class="row zero">
        <div class="col zero center">
          <p class="positive f24px mt15px">{{vm.Model.place.name}}</p>
        </div>
      </div>
      <!--업체 점수 표현-->
      <div class="row zero flex f20px mt0px"
        average-stars
        rating="vm.Model.place.averageRating"
        vm="vm"
      >
      </div>
      <!--(눈)조회수, (하트)즐겨찾기수-->
      <div class="row zero flex dark-grey mt0px">
        <div class="col-auto zero flex"><i class="f22px m5px ion-eye "></i></div>
        <div class="col-auto zero flex"><p class="f12px m5px">{{vm.Model.place.viewCount}}</p></div>
        <div class="col-auto zero flex"><i class="f16px m5px ion-heart "></i></div>
        <div class="col-auto zero flex"><p class="f12px m5px">{{vm.Model.place.favoriteCount}}</p></div>
      </div>
      <!--태그-->
      <div class="row zero flex center mt0px f12px bold positive pl3p pr3p">
        <div class="col zero ml1p"
          ng-repeat="tag in vm.Model.place.tags track by $index">
          <p class="p5 positive-b1px r3px text-overflow">{{tag}}</p>
        </div>
      </div>

      <hr class="b0px h2px light-bg" />

      <!-- 상세정보 -->
      <div class="pt10px pr5p pb10px pl5p">  <!--상세정보 전체 컨테이너-->
        <div class="row zero">
          <div class="col zero">
            <p class="positive f16px">[ 상세정보 ]</p>
          </div>
        </div>

        <!--주소-->
        <div class="row zero mt5px bold">
          <div class="col zero">
            <p class="positive f14px">주소</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">{{vm.Model.place.address}}</p>
          </div>
        </div>

        <!--지도보기 버튼-->
        <div class="row zero mt5px w100px flex-v p3 positive-bg white r20px">
          <div class="col-auto zero">
            <i class="ion-ios-location f14px"></i>
          </div>
          <div class="col-auto zero flex ml7px"
            ng-click="goToState('Main.GoogleMap', {
              placeAddress: vm.Model.place.address,
              placeId: $state.params.placeId,
              place: vm.Model.place
            }, 'forward');">
            <p class="f14px zero">지도 보기</p>
          </div>
        </div>

        <!--영업시간-->
        <div class="row zero mt15px bold">
          <div class="col zero">
            <p class="positive f14px">영업시간</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">평일 {{vm.Model.place.hours}}</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">주말 {{vm.Model.place.hours}}</p>
          </div>
        </div>

        <!--규모-->
        <div class="row zero mt5px bold">
          <div class="col zero">
            <p class="positive f14px">규모</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">{{vm.Model.place.size}}</p>
          </div>
        </div>

        <!--한줄소개-->
        <div class="row zero mt5px bold">
          <div class="col zero">
            <p class="positive f14px">한줄소개</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">{{vm.Model.place.summary}}</p>
          </div>
        </div>

        <!--회원혜택-->
        <div class="row zero mt5px bold">
          <div class="col zero">
            <p class="positive f14px">회원혜택</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">{{vm.Model.place.discountTitle}}</p>
          </div>
        </div><!--
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">- 회원혜택은 제휴점 내규에 따라 적용됩니다.</p>
          </div>
        </div>
        <div class="row zero">
          <div class="col zero">
            <p class="f12px">- 카운터에서 주당 앱을 보여주세요.</p>
          </div>
        </div> -->

        <!--이벤트 컨테이너-->
        <div ng-if="vm.Model.place.showEventTag">
          <div class="row zero mt5px bold">
            <div class="col zero">
              <p class="positive f14px">이벤트</p>
            </div>
          </div>
          <div class="row zero">
            <div class="col zero">
              <p class="f12px">{{vm.Model.place.eventContent}}</p>
            </div>
          </div><!--
          <div class="row zero">
            <div class="col zero">
              <p class="f12px">- 이벤트는 제휴점 내규에 따라 적용됩니다.</p>
            </div>
          </div>
          <div class="row zero">
            <div class="col zero">
              <p class="f12px">- 카운터에서 주당 앱을 보여주세요.</p>
            </div>
          </div> -->
        </div>
      </div>

      <!--수정요청 버튼-->
      <div class="row zero light-grey-bg dark-grey flex pt10px pb10px pr10p pl10p">
        <div class="row flex black-b1px r50px pt5px pb5px pr10p pl10p"
          ng-click="goToState('Main.RequestUpdate', {placeId: vm.Model.place.id, placeName: vm.Model.place.name}, 'forward');">
          <div class="col-auto zero">
            <i class="ion-settings f20px"></i>
          </div>
          <div class="col-auto zero">
            <p class="zero f20px ml10px">수정요청</p>
          </div>
        </div>
      </div>

      <!--리뷰-->
      <div class="row zero mt20px mb20px ml5p mr5p bold">
        <div class="col zero">
          <p class="zero positive f14px">리뷰 ( {{vm.Model.place.reviewCount}} )</p>
        </div>
      </div>

      <!--리뷰 List-->
      <div class="row zero pl1p pr1p pt5px pb5px">  <!--리뷰 List 컨테이너-->
        <!--리뷰 Node 컨테이너 시작-->
        <div class="col zero">
          <div class="relative light-grey-b1px pl2p pr2p pt5px pb10px mb5px"
            ng-repeat="review in vm.Model.reviews">
            <!-- Loading -->
            <section class="absolute top0px left0px w100p h100p flex lighter-grey-bg z-index2 opacity5"
              ng-if="vm.Model.loadingById.indexOf(review.id) !== -1"
            >
              <ion-spinner class="spinner-40px" icon="ripple">
              </ion-spinner>
            </section>
            <!--회원 프로필사진 | 아이디, 작성일자, 평점 | 삭제버튼-->
            <div class="row zero">
              <div class="col-15 zero flex">
                <img class="h35px w35px r35px"
                  ng-src="{{review.owner | GetPhoto}}" 
                >
              </div>
              <div class="col-65 zero">
                <div class="row zero mt5px">
                  <div class="col-auto flex-v">
                    <p class="zero f12px bold">{{review.owner.nickname}}</p>
                  </div>
                  <div class="col-auto flex-v">
                    <p class="zero f12px bold grey">&nbsp;|&nbsp;</p>
                  </div>
                  <div class="col-auto flex-v">
                    <p class="zero f10px grey">{{review.createdAt | date: 'yyyy.MM.dd HH.mm'}}</p>
                  </div>
                </div>
                <!--점수 표현-->
                <div class="row zero positive f16px mt5px"
                  average-stars
                  rating="review.rating"
                  vm="vm"
                >
                </div>
              </div>
              <div class="col-20 zero flex mt5px">
                <p class="dark-grey dark-grey-b1px f12px min-w50px r50px pl5px pr5px pt2px pb2px center"
                  ng-if="isOwner(review)"
                  ng-click="vm.reviewDelete(review.id);">삭제</p>
                <!--사장님 전용 댓글달기버튼-->
                <p class="grey-bg white min-w67px r50px pl8px pr8px pt4px pb7px f12px"
                  ng-if="isOwner(vm.Model.place)"
                  ng-click="goToState('Main.CommentCreate', {reviewId: review.id, reviewOwner: review.owner}, 'forward');">댓글달기</p>
              </div>
            </div>
            <!--후기-->
            <div class="row zero mt5px">
              <div class="col zero">
                <p>{{review.content}}</p>
              </div>
            </div>
            <!--사진 (최대 5장)-->
            <div class="row zero mt5px">
              <div class="col zero flex-v"
                ng-repeat="photo in review.photos">
                <img class="w50px h50px r5px"
                  ng-src="{{photo.url}}" alt="후기사진"
                  ng-click="vm.expandPhoto(photo);" />
              </div><!--
              <div class="col zero flex-v"
                ng-repeat="count in vm.getAverageRating(5-review.photos.length)">
                <div class="w50px h50px r5px pr1p"></div>
              </div> -->
            </div>
            <!--사장님 댓글-->
            <div class="relative mt5px p10px lighter-bg"
              ng-repeat="comment in review.comments"
            ><!-- | orderBy: 'createdAt' -->
              <!-- Loading -->
              <section class="absolute top0px left0px w100p h100p flex lighter-grey-bg z-index5 opacity5"
                ng-if="vm.Model.loadingById.indexOf(comment.id) !== -1"
              >
                <ion-spinner class="spinner-40px" icon="ripple">
                </ion-spinner>
              </section>
              <!--사장님 댓글 삭제버튼-->
              <p class="absolute top8px right10px dark-grey dark-grey-b1px r50px f12px pl5px pr5px pt2px pb2px"
                ng-if="isOwner(comment)"
                ng-click="vm.commentDelete(comment.id);">삭제</p>
              <!--아이콘 | 사장님 아이디 | 작성일자-->
              <div class="row zero">
                <div class="col-auto zero">
                  <i class="ion-reply pr5px"></i>
                </div>
                <div class="col-auto zero flex-v">
                  <p class="zero f12px bold">사장님</p>
                </div>
                <div class="col-auto zero flex-v">
                  <p class="zero f12px bold grey">&nbsp;|&nbsp;</p>
                </div>
                <div class="col-auto zero flex-v">
                  <p class="zero f10px grey">{{comment.createdAt | date: 'yyyy.MM.dd HH.mm'}}</p>
                </div>
              </div>

              <div class="row zero mt5px">
                <div class="col zero">
                  <p>{{comment.content}}</p>
                </div>
              </div>

            </div>

          </div>
        </div>  <!--리뷰Node 컨테이너 끝-->

      </div>  <!--리뷰 List 끝-->

      <!--리뷰 더보기 버튼-->
      <div class="flex zero mt10px mb10px">
        <div class="grey grey-b1px r20px pt5px pb5px pl10p pr10p"
        >
          리뷰 더보기
        </div>
      </div>

    </div>  <!--상세정보 전체 컨테이너 끝-->
  </ion-content>



  <ion-footer-bar class="bar-positive footer zero">
    <div class="row zero">

      <!--즐겨찾기-->
      <button class="button-icon col zero flex relative"
        ng-click="vm.isNotFavorite ? vm.favoriteCreate() : vm.favoriteDestory();"
        ng-disabled="vm.Model.loadingById.indexOf('FAVORITE') !== -1">
        <!-- Loading -->
        <section class="absolute top0px left0px w100p h100p flex lighter-grey-bg z-index2 opacity6"
          ng-if="vm.Model.loadingById.indexOf('FAVORITE') !== -1">
          <ion-spinner class="spinner-40px" icon="ripple">
          </ion-spinner>
        </section>
        <i class="white f32px ion-android-favorite-outline"
          ng-if="vm.isNotFavorite"></i>
        <i class="white f32px ion-android-favorite"
          ng-if="!vm.isNotFavorite"></i>
      </button>

      <!--업체와 1:1 메세지-->
      <div class="col zero flex light-grey-bl1px"
        ng-click="
        needLogin()
        ? goToState('Main.MessageCreate', {
          ownerId: vm.Model.place.owner,
          placeName: vm.Model.place.name
        }, 'forward')
        : return;">
        <i class="white f32px ion-chatbubble-working"></i>
      </div>

      <!--메뉴 보기-->
      <div class="col zero flex light-grey-bl1px"
        ng-click="goToState('Main.MenuList', {placeId: vm.Model.place.id}, 'forward');">
        <i class="white f32px ion-clipboard"></i>
      </div>

      <!--전화하기-->
      <div class="col-40 flex light-grey-bl1px"
        ng-click="call(vm.Model.place.phone);">
        <i class="white f32px ion-ios-telephone"></i>
        <p class="zero pl10px">전화하기</p>
      </div>

    </div>
  </ion-footer-bar>
</ion-view>