<ion-view id="faq-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">자주 묻는 질문</p>
  </ion-nav-title>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex-h pt250px light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>

  <ion-content
    delegate-handle="faq-list"
  >
    <div>  <!--컨텐츠 컨테이너-->
      <div>  <!--List 컨테이너-->

        <div ng-repeat="post in vm.Model.posts">  <!--Node 컨테이너-->
          <!--질문-->
          <div class="grey-bb1px pt10px pb10px pl5p pr5p darker-grey lh24px"
            ng-click="vm.toggle(post);">
            <div class="row zero">
              <div class="col zero flex-v">
                <p class="zero f14px">{{post.title}}</p>
              </div>
              <div class="col-auto zero flex-v">
                <i class="zero f16px"
                  ng-class="{'ion-arrow-down-b': vm.toggleArray.indexOf(post.id) === -1,
                             'ion-arrow-up-b': vm.toggleArray.indexOf(post.id) !== -1}"></i>
              </div>
            </div>
          </div>
          <!--답변-->
          <div class="grey-bb1px pt10px pb10px pl5p pr5p dark-grey lighter-grey-bg"
            ng-if="vm.toggleArray.indexOf(post.id) !== -1">
            <div class="row zero">
              <div class="col zero flex-v">
                <p class="zero f14px">{{post.content}}</p>
              </div>
            </div>
          </div>
        </div>  <!--Node 컨테이너 종료-->

      </div>  <!--List 컨테이너 종료-->

      <ion-infinite-scroll
        on-infinite="vm.infiniteScroll()"
        immediate-check="false"
        ng-if="vm.Model.more">
      </ion-infinite-scroll>

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>

  <!-- <ion-footer-bar class="zero h31vw white-bg">
  </ion-footer-bar> -->

</ion-view>