<ion-view id="faq-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p bold">자주 묻는 질문</p>
  </ion-nav-title>

  <ion-content class="">
    <div>  <!--컨텐츠 컨테이너-->
      <div class="">  <!--List 컨테이너-->

        <div ng-repeat="faq in vm.Model.faqList">  <!--Node 컨테이너-->
          <!--질문-->
          <div class="grey-bb1px pt10px pb10px pl5p pr5p darker-grey lh24px bold"
            ng-click="vm.toggle(faq);">
            <div class="row zero">
              <div class="col zero flex-v">
                <p class="zero f14px">{{faq.title}}</p>
              </div>
              <div class="col-auto zero flex-v">
                <i class="zero f16px"
                  ng-class="{'ion-arrow-down-b': !faq.show,
                             'ion-arrow-up-b': faq.show}"></i>
              </div>
            </div>
          </div>
          <!--답변-->
          <div class="grey-bb1px pt10px pb10px pl5p pr5p dark-grey lighter-grey-bg"
            ng-if="faq.show">
            <div class="row zero">
              <div class="col zero flex-v">
                <p class="zero f14px">{{faq.content}}</p>
              </div>
            </div>
          </div>
        </div>  <!--Node 컨테이너 종료-->

      </div>  <!--List 컨테이너 종료-->

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>

  <!-- <ion-footer-bar class="zero h31vw white-bg">
  </ion-footer-bar> -->

</ion-view>