<ion-view id="message-create"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p">{{"업체이름"}}</p>
  </ion-nav-title>

  <ion-content class="">
    <!--List 컨테이너-->
    <div class="relative w100p h100p pt10px lighter-bg">

      <!--Node 컨테이너-->
      <div ng-repeat="message in vm.Model.messages">

        <!--날짜가 바뀌었을 때-->
        <div class="row zero pb20px">
          <div class="col zero flex color0-bg">
            <p class="zero">{{message.createdAt | date: 'yyyy.MM.dd'}}</p>
          </div>
        </div>

        <!--내가 보낸 쪽지-->
        <div class="row zero pb20px pl3p pr3p"
          ng-if="message.sender.id === AppStorage.user.id">
          <div class="col-85 zero r5px pl5p pr5p shadow color0-bg">
            <div class="row zero">
              <div class="col-auto zero flex mr10px">
                <p class="zero lh25px f12px positive bold">{{message.sender.nickname}}</p>
              </div>
              <div class="col zero flex-v">
                <p class="zero lh25px f10px dark-grey">{{message.createdAt | date: 'yyyy.MM.dd HH.mm'}}</p>
              </div>
            </div>
            <div class="row zero">
              <div class="col zero">
                <p class="">{{message.content}}</p>
              </div>
            </div>
          </div>
          <div class="col-15 zero flex-h pt5px">
            <img class="h40px r50p"
              ng-src="{{message.sender.profilePhoto.url}}" alt="프로필사진">
          </div>
        </div>

        <!--남으로부터 받은 쪽지-->
        <div class="row zero pb20px pl3p pr3p"
          ng-if="message.sender.id !== AppStorage.user.id">
          <div class="col-15 zero flex-h pt5px">
            <img class="h40px r50p"
              ng-src="{{message.sender.profilePhoto.url}}" alt="프로필사진">
          </div>
          <div class="col-85 zero r5px pl5p pr5p shadow white-bg">
            <div class="row zero">
              <div class="col-auto zero flex mr10px">
                <p class="zero lh25px f12px positive bold">{{message.sender.nickname}}</p>
              </div>
              <div class="col zero flex-v">
                <p class="zero lh25px f10px dark-grey">{{message.createdAt | date: 'yyyy.MM.dd HH.mm'}}</p>
              </div>
            </div>
            <div class="row zero">
              <div class="col zero">
                <p class="">{{message.content}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>  <!--Node 컨테이너 종료-->

    </div>  <!--List 컨테이너 종료-->
  </ion-content>



  <!--쪽지 문의하는 input 박스-->
  <ion-footer-bar class="zero">
    <div class="col-90 zero">
      <form novalidate>
        <input class="p10px grey grey-b1px white-bg placeholder-grey h44px w100p br0px"
          type="text" placeholder="주점에 1:1 쪽지 문의하기"
          ng-model="vm.Model.message.content"
          ng-enter="vm.create()"
        >
      </form>
    </div>
    <div class="col-10 zero flex"
      ng-click="vm.create()"
    >
      <div class="top4px right10px white-bg h44px w100p grey-b1px bl0px flex-v">
        <i class="ion-android-send zero r50p center w32px lh32px grey-bg white f16px"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>