<ion-view id="message-create"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      <span class="max-w108px inline-block text-overflow">
        {{vm.Model.placesString}}
      </span>
      <span class="inline-block text-overflow">님과 쪽지 주고받기</span>
    </p>
  </ion-nav-title>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex-h pt250px light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>
  <ion-content class="lighter-bg"
    delegate-handle="message-create"
  >
    <!--List 컨테이너-->
    <div class="relative w100p h100p pt10px">

      <!--Node 컨테이너-->
      <div ng-repeat="message in vm.Model.messages">

        <!--날짜가 바뀌었을 때-->
        <div class="row zero pb20px"
          ng-if="message.dayBreaker === true"
        >
          <div class="col zero flex color0-bg">
            <p class="zero">{{message.createdAt | date: 'yyyy.MM.dd'}}</p>
          </div>
        </div>

        <!--내가 보낸 쪽지-->
        <div class="row zero pb20px pl3p pr3p"
          ng-if="message.sender.id === AppStorage.user.id"
        >
          <div class="col-85 zero r5px pl5p pr5p grey-br1px grey-bb1px color0-bg">
            <div class="row zero">
              <div class="col-auto zero flex mr10px">
                <p class="zero lh25px f12px positive bold">{{message.sender.nickname}}</p>
              </div>
              <div class="col zero flex-v">
                <p class="zero lh25px f10px dark-grey">{{message.createdAt | date: 'yyyy.MM.dd HH:mm'}}</p>
              </div>
            </div>
            <div class="row zero">
              <div class="col zero">
                <p>{{message.content}}</p>
              </div>
            </div>
          </div>
          <div class="col-15 zero flex-h pt5px">
            <img class="w40px h40px fit r50px lazy-show"
              ng-src="{{ message.sender | GetPhoto }}" alt="프로필사진">
          </div>
        </div>

        <!--남으로부터 받은 쪽지-->
        <div class="row zero pb20px pl3p pr3p"
          ng-if="message.sender.id !== AppStorage.user.id"
          id="{{
            message.isNew && vm.Model.messages[$index - 1].isNew === false ?
            'firstNew': ''
          }}"
        >
          <div class="col-15 zero flex-h pt5px">
            <img class="w40px h40px fit r50px lazy-show"
              ng-src="{{ message.sender | GetPhoto }}" alt="프로필사진">
          </div>
          <div class="col-85 zero r5px pl5p pr5p grey-br1px grey-bb1px white-bg">
            <div class="row zero">
              <div class="col-auto zero flex mr10px">
                <p class="zero lh25px f12px positive bold">{{message.sender.nickname}}</p>
              </div>
              <div class="col zero flex-v">
                <p class="zero lh25px f10px dark-grey">{{message.createdAt | date: 'yyyy.MM.dd HH.mm'}}</p>
              </div>
            </div>
            <div class="row zero">
              <div class="col zero">
                <p>{{message.content}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>  <!--Node 컨테이너 종료-->

    </div>  <!--List 컨테이너 종료-->
  </ion-content>



  <!--쪽지 문의하는 input 박스-->
  <ion-footer-bar class="zero">
    <div class="col-90 zero">
      <form novalidate>
        <input class="p10px grey grey-b1px white-bg placeholder-grey h44px w100p br0px"
          type="text" placeholder="주점에 1:1 쪽지 문의하기"
          ng-model="vm.Model.message.content"
          ng-enter="vm.create()"
        >
      </form>
    </div>
    <div class="col-10 zero flex"
      ng-click="vm.create()"
    >
      <div class="top4px right10px white-bg h44px w100p grey-b1px bl0px flex-v">
        <i class="ion-android-send zero r50p center w32px lh32px white f16px"
          ng-class="{ 'grey-bg ': vm.Model.message.content.length < 1,
                      'positive-bg': vm.Model.message.content.length > 0}"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>