<ion-view id="event-tab"
  cache-view="true"
  hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-title>
    <p class="zero pl1p">EVENT</p>
  </ion-nav-title>

  <ion-header-bar class="bar-subheader zero white-bg row grey bold"
    no-tap-scroll="true">
    <div class="col zero flex grey-b1px"
      ng-class="{'positive positive-bb3px': vm.Model.currentTab === '주당이벤트'}"
      ng-click="vm.Model.currentTab = $event.currentTarget.textContent;
                goToState('Main.Footer.EventTab.JoodangEventList', {}, 'back');">주당이벤트</div>
    <div class="col zero flex grey-b1px bl0px"
      ng-class="{'positive positive-bb3px': vm.Model.currentTab === '주점이벤트'}"
      ng-click="vm.Model.currentTab = $event.currentTarget.textContent;
                goToState('Main.Footer.EventTab.BarEventList', {}, 'forward');">주점이벤트</div>
  </ion-header-bar>

  <ion-nav-view name="EventTab"></ion-nav-view>

  <!-- <ion-content></ion-content> -->
  <!-- <ion-footer-bar class=""></ion-footer-bar> -->
</ion-view>