<ion-view id="customer-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">고객센터</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
    class="com-bottom30.9vw">  <!--희한하게도 31vw이면 스크롤이 생김...-->
    <div>  <!--컨텐츠 컨테이너-->
      <div>  <!--List 컨테이너-->

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt10px pb10px pl5p pr5p dark-grey"
          ng-click="goToState('Main.FaqList', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <p class="zero f16px">자주 묻는 질문</p>
            </div>
            <div class="col-auto zero flex-v">
              <i class="zero f22px ion-arrow-right-b"></i>
            </div>
          </div>
        </div>

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt10px pb10px pl5p pr5p dark-grey"
          ng-click="goToState('Main.ContactCreate', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <p class="zero f16px">문의하기</p>
            </div>
            <div class="col-auto zero flex-v">
              <i class="zero f22px ion-arrow-right-b"></i>
            </div>
          </div>
        </div>

      </div>  <!--List 컨테이너 종료-->

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>

  <ion-footer-bar class="zero h31vw white-bg">
    <div class="absolute bottom0px">
      <div class="row zero">
        <div class="col zero">
          <img class="w100p"
            src="img/customercenter.png" alt="주당 고객센터 이미지">
        </div>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>