<ion-view id="profile"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">내 정보 수정</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
   >
    <div>  <!--컨텐츠 컨테이너-->
      <div>  <!--List 컨테이너-->

        <div class="grey-bb1px pt10px pb10px pl5p pr5p dark-grey">  <!--Node 컨테이너-->
          <div class="row zero">
            <div class="col zero flex-v mt-6px mb-6px">

              <img class="w40px h40px fit r50px inline-block"
                ng-if="!vm.Model.user.profilePhoto && vm.Model.images.length === 0"
                ng-src="{{vm.Model.user | GetPhoto}}"
                ng-click="vm.profileImageUpdate();"
                alt="프로필사진"
              >

              <div class="w40px h40px r50px inline-block flex relative"
                ng-click="vm.profileImageUpdate()"
                ng-repeat="image in vm.Model.images"
              >

                <img class="w40px h40px fit r50px"
                  alt="배너 사진"
                  ngf-src="image"
                  ng-if="!image.id"
                >

                <img class="w40px h40px fit r50px"
                  alt="배너 사진"
                  ng-src="{{image.url}}"
                  ng-if="image.id"
                >
              </div>
<!--
                <div class="w100p h100p absolute top0px left0px flex opacity-5"
                  ng-click="PhotoClass.deselectImage(vm.Model.images, $index)"
                >
                  <i class="ion-ios-close f50px positive"></i>
                </div>
 -->




              <p class="zero f14px ml7p">{{AppStorage.user.nickname}}</p>
              <span class="f14px black">&nbsp;님</span>
            </div>
            <div class="col-auto zero flex-v">
              <p class="zero f12px lh20px w75px center dark-grey-b1px r20px"
                ng-click="vm.logout();">로그아웃</p>
            </div>
          </div>
        </div>

        <div class="grey-bb1px pt10px pb10px pl5p pr5p dark-grey">  <!--Node 컨테이너-->
          <div class="row zero">
            <div class="col-20 zero flex-v">
              <p class="zero f14px">닉네임</p>
            </div>
            <div class="col zero flex-v">
              <p class="zero f14px black">{{AppStorage.user.nickname}}</p>
            </div>
            <div class="col-auto zero flex-v">
              <p class="zero f12px lh20px w75px center dark-grey-b1px r20px"
                ng-click="vm.NicknameUpdateModal.show();">수정</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>

  <!-- <ion-footer-bar class="bottom44px zero">
  </ion-footer-bar> -->

</ion-view>