<ion-view id="term-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p bold">이용약관</p>
  </ion-nav-title>

  <ion-content class="">
    <div>  <!--컨텐츠 컨테이너-->
      <div>  <!--List 컨테이너-->

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt12px pb12px pl5p pr5p darker-grey"
          ng-click="goToState('Main.TermDetail', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <p class="zero f14px">{{"서비스 이용약관"}}</p>
            </div>
          </div>
        </div>

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt12px pb12px pl5p pr5p darker-grey"
          ng-click="goToState('Main.TermDetail', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <p class="zero f14px">{{"개인정보 취급방침"}}</p>
            </div>
          </div>
        </div>

        <!--Node 컨테이너-->
        <div class="bold grey-bb1px pt12px pb12px pl5p pr5p darker-grey"
          ng-click="goToState('Main.TermDetail', {}, 'forward');">
          <div class="row zero">
            <div class="col zero flex-v">
              <p class="zero f14px">{{"위치기반 서비스 이용약관"}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>

  <!-- <ion-footer-bar class="bottom44px zero">
  </ion-footer-bar> -->

</ion-view>