<ion-modal-view>
  <ion-content class="light-bg"
    data-tap-disabled="true"
  >
    <div class="crop-area w100vw h100vh">
      <img-crop
        image="ImageCropAttribute.sourceImageBase64"
        result-image="ImageCropAttribute.croppedImageBase64"
        result-image-size="ImageCropAttribute.resultImageSize"
        area-type="{{ImageCropAttribute.areaType}}"
        aspect-ratio="ImageCropAttribute.aspectRatio"
      >
      </img-crop>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-positive footer zero">
    <div class="row zero flex w100p">
      <button class="button f18px bold w50p"
        ng-click="hideImageCropModal()"
      >
        완료
      </button>
      <button class="button f18px bold w50p"
        ng-click="ImageCropModal.hide()"
      >
        취소
      </button>
    </div>
  </ion-footer-bar>
</ion-modal-view>