<ion-view id="keyword-list"
  cache-view="true"
  hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-title>
    <p class="zero">검색</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
    class="light-grey-bg">
    <div class="h100p relative p1p">  <!--컨텐츠 컨테이너-->
      <div class="relative dark-grey f12px">  <!--Keyword List 컨테이너-->

        <div class="row zero pt20px pb10px">
          <div class="col zero flex">
            <p class="zero f12px dark-grey bold">1개의 키워드를 선택해주세요.</p>
          </div>
        </div>

        <div class="row zero wrap mt15px mb15px">

          <!--Node 컨테이너-->
          <div class="col-23 zero mt10px mr1p ml1p grey-b1px r3px pt10px pb10px"
            ng-class="{
              'positive-bg': vm.Model.selectedUniqueKeyword === keyword.title,
              'white': vm.Model.selectedUniqueKeyword === keyword.title,
              'white-bg': vm.Model.selectedUniqueKeyword !== keyword.title
            }"
            ng-repeat="keyword in vm.Model.uniqueKeywords"
            ng-click="vm.Model.selectedUniqueKeyword = keyword.title"
          >
            <div class="row zero mt0px">
              <div class="col zero flex">
                <img class="h35px" ng-src="{{keyword.photoUrl}}"
                  ng-if="vm.Model.selectedUniqueKeyword !== keyword.title">
                <img class="h35px" ng-src="{{keyword.photoHoverUrl}}"
                  ng-if="vm.Model.selectedUniqueKeyword === keyword.title">
              </div>
            </div>
            <div class="row zero mt5px">
              <div class="col zero flex">
                <p class="zero">{{keyword.title}}</p>
              </div>
            </div>
          </div>  <!--Node 컨테이너 종료-->

        </div>  <!--가로 줄 종료-->




        <!--==============================================================================-->


        <div class="row zero pt30px pb10px">
          <div class="col zero flex">
            <p class="zero f12px dark-grey bold">여러개의 키워드로 중복 검색할 수 있습니다.</p>
          </div>
        </div>

        <!-- 여러키 -->
        <div class="row zero mt15px mb15px wrap">
          <div class="col-23 zero mr1p ml1p grey-b1px r3px pt10px pb10px mt10px"
            ng-class="{
              'positive-bg': vm.isSelected(keyword),
              'white': vm.isSelected(keyword),
              'white-bg': !vm.isSelected(keyword)
            }"
            ng-repeat="keyword in vm.Model.multipleKeywords"
            ng-click="vm.toggleClass(keyword)"
          >
            <div class="row zero mt0px">
              <div class="col zero flex">
                <img class="h35px" ng-src="{{keyword.photoUrl}}" alt=""
                  ng-if="!vm.isSelected(keyword)">
                <img class="h35px" ng-src="{{keyword.photoHoverUrl}}" alt=""
                  ng-if="vm.isSelected(keyword)">
              </div>
            </div>
            <div class="row zero mt5px">
              <div class="col zero flex">
                <p class="zero">{{keyword.title}}</p>
              </div>
            </div>
          </div>

        </div>  <!--가로 줄 종료-->

        <!--결과검색 버튼-->
        <div class="flex mt20px pb40px">
          <div class="white positive-bg lh40px pr25p pl25p r30px f18px"
            ng-click="vm.search()">결과검색</div>
        </div>

      </div>  <!--Keyword List 컨테이너 종료-->
    </div>
  </ion-content>

  <!-- <ion-footer-bar></ion-footer-bar> -->
</ion-view>