<ion-view id="joodang-event-list"
  cache-view="true"
  hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-buttons side="right">
    <button class="button-icon ion-android-search white"
      ng-click="goToStateIfGPS('Main.Search', {}, 'forward');">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <div class="row zero mt0px h100p">
      <div class="col zero flex-v">
        <img class="h22px" src="img/title_event.png" alt="">  <!--상위로부터 상속은 되지않음-->
      </div>
    </div>
  </ion-nav-title>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>


  <ion-content delegate-handle="joodang-event-list"
   >
    <!--컨텐츠 컨테이너-->
    <div ng-include="'state/0Template/Include/EventList.html'">
    </div>
  </ion-content>

  <!-- <ion-footer-bar></ion-footer-bar> -->
</ion-view>