<ion-view id="theme-search-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">테마 검색</p>
  </ion-nav-title>

  <ion-header-bar class="h30px light-grey-bg"
    top="44"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p mt0px">
      <div class="col zero flex-v">
        <p class="zero f12px bold">{{vm.Model.themeTitle}}</p>
      </div>
    </div>
  </ion-header-bar>

  <!-- <ion-header-bar class="h35px top74px white-bg"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p">
      <div class="col-auto zero flex-v pl5px pr5px r30px positive-b2px">
        <p class="positive zero bold">프리미엄</p>
      </div>
    </div>
  </ion-header-bar> -->
  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>

  <ion-content class="light-grey-bg"
    top="74"
    delegate-handle="theme-search-list"
  >
    <div>   <!--컨텐츠 컨테이너-->

      <div ng-include="'state/0Template/Include/PlaceList.html'">
      </div>

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>