<ion-view id="theme-search-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p">테마 검색</p>
  </ion-nav-title>

  <ion-header-bar class="h30px top44px light-grey-bg"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p">
      <div class="col zero flex-v">
        <p class="zero f12px bold">{{"감성충만한 여우와 늑대의 만남 [헌팅]"}}</p>
      </div>
    </div>
  </ion-header-bar>

  <!-- <ion-header-bar class="h35px top74px white-bg"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p">
      <div class="col-auto zero flex-v pl5px pr5px r30px positive-b2px">
        <p class="positive zero bold">프리미엄</p>
      </div>
    </div>
  </ion-header-bar> -->

  <ion-content class="light-grey-bg top74px">
    <div>   <!--컨텐츠 컨테이너-->

      <!--프리미엄 리스트-->
      <div class="row zero pl3p pr3p h40px flex-v white-bg">
        <div class="col-auto zero flex-v pl5p pr5p r30px h30px positive-b2px">
          <p class="zero positive bold">프리미엄</p>
        </div>
      </div>

      <div>  <!--매장 List 컨테이너-->

        <!--매장 Node 컨테이너-->
        <div class="row zero white-bg grey-bt1px grey-bb1px mt5px"
          ng-click="goToState('Main.PlaceDetail', {}, 'forward');">
          <div class="col-40 zero flex lighter-grey-bg relative">
            <img class="w50p" src="{{'img/defaultimg.png'}}" alt="매장 대표사진" />
            <div class="absolute top8px left0px w70px h25px">
              <div class="row zero h20px">
                <div class="col zero h25px flex positive-bg">
                  <p class="f12px zero white center">{{50}}% 할인</p>
                </div>
                <div class="col-10 zero">
                  <img class="h25px" src="img/home_detail_tag.png" alt="끝에 잘리는이미지" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-60 zero pt1p pb1p pl2p pr2p">
            <div class="row zero">
              <div class="col zero">
                <p class="zero f20px lh26px bold text-overflow">매장 이름</p>
              </div>
              <div class="col-auto zero flex-v f18px positive ion-ios-location mr2p"></div>
              <div class="col-auto zero flex-v f16px positive">{{"60m"}}</div>
            </div>
            <div class="row zero mt5px">
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star-outline positive"></i></div>
            </div>
            <div class="row zero mt1px mb10px">
              <div class="col zero">
                <p class="zero text-overflow">서울시 강남구 역삼동 723-1</p>
              </div>
            </div>
            <div class="row zero center">
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
            </div>
          </div>
        </div>  <!--매장 Node 컨테이너 종료-->

        <!--매장 Node 컨테이너-->
        <div class="row zero white-bg grey-bt1px grey-bb1px mt5px"
          ng-click="goToState('Main.PlaceDetail', {}, 'forward');">
          <div class="col-40 zero flex lighter-grey-bg relative">
            <img class="w50p" src="{{'img/defaultimg.png'}}" alt="매장 대표사진" />
            <div class="absolute top8px left0px w70px h25px">
              <div class="row zero h20px">
                <div class="col zero h25px flex positive-bg">
                  <p class="f12px zero white center">{{50}}% 할인</p>
                </div>
                <div class="col-10 zero">
                  <img class="h25px" src="img/home_detail_tag.png" alt="끝에 잘리는이미지" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-60 zero pt1p pb1p pl2p pr2p">
            <div class="row zero">
              <div class="col zero">
                <p class="zero f20px lh26px bold text-overflow">매장 이름</p>
              </div>
              <div class="col-auto zero flex-v f18px positive ion-ios-location mr2p"></div>
              <div class="col-auto zero flex-v f16px positive">{{"60m"}}</div>
            </div>
            <div class="row zero mt5px">
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star-outline positive"></i></div>
            </div>
            <div class="row zero mt1px mb10px">
              <div class="col zero">
                <p class="zero text-overflow">서울시 강남구 역삼동 723-1</p>
              </div>
            </div>
            <div class="row zero center">
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
            </div>
          </div>
        </div>  <!--매장 Node 컨테이너 종료-->

        <!--더보기 버튼-->
        <div class="flex zero mt10px mb10px">
          <div class="dark-grey-b1px r20px pt5px pb5px pl10p pr10p">더보기</div>
        </div>

      </div>  <!--매장 List 컨테이너 종료-->


      <!--스페셜 리스트-->
      <div class="row zero pl3p pr3p h40px flex-v white-bg">
        <div class="col-auto zero flex-v pl5p pr5p r30px h30px positive-b2px">
          <p class="zero positive bold">스페셜</p>
        </div>
      </div>

      <div>  <!--매장 List 컨테이너-->

        <!--매장 Node 컨테이너-->
        <div class="row zero white-bg grey-bt1px grey-bb1px mt5px"
          ng-click="goToState('Main.PlaceDetail', {}, 'forward');">
          <div class="col-40 zero flex lighter-grey-bg relative">
            <img class="w50p" src="{{'img/defaultimg.png'}}" alt="매장 대표사진" />
            <div class="absolute top8px left0px w70px h25px">
              <div class="row zero h20px">
                <div class="col zero h25px flex positive-bg">
                  <p class="f12px zero white center">{{50}}% 할인</p>
                </div>
                <div class="col-10 zero">
                  <img class="h25px" src="img/home_detail_tag.png" alt="끝에 잘리는이미지" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-60 zero pt1p pb1p pl2p pr2p">
            <div class="row zero">
              <div class="col zero">
                <p class="zero f20px lh26px bold text-overflow">매장 이름</p>
              </div>
              <div class="col-auto zero flex-v f18px positive ion-ios-location mr2p"></div>
              <div class="col-auto zero flex-v f16px positive">{{"60m"}}</div>
            </div>
            <div class="row zero mt5px">
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star-outline positive"></i></div>
            </div>
            <div class="row zero mt1px mb10px">
              <div class="col zero">
                <p class="zero text-overflow">서울시 강남구 역삼동 723-1</p>
              </div>
            </div>
            <div class="row zero center">
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
            </div>
          </div>
        </div>  <!--매장 Node 컨테이너 종료-->

        <!--매장 Node 컨테이너-->
        <div class="row zero white-bg grey-bt1px grey-bb1px mt5px"
          ng-click="goToState('Main.PlaceDetail', {}, 'forward');">
          <div class="col-40 zero flex lighter-grey-bg relative">
            <img class="w50p" src="{{'img/defaultimg.png'}}" alt="매장 대표사진" />
            <div class="absolute top8px left0px w70px h25px">
              <div class="row zero h20px">
                <div class="col zero h25px flex positive-bg">
                  <p class="f12px zero white center">{{50}}% 할인</p>
                </div>
                <div class="col-10 zero">
                  <img class="h25px" src="img/home_detail_tag.png" alt="끝에 잘리는이미지" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-60 zero pt1p pb1p pl2p pr2p">
            <div class="row zero">
              <div class="col zero">
                <p class="zero f20px lh26px bold text-overflow">매장 이름</p>
              </div>
              <div class="col-auto zero flex-v f18px positive ion-ios-location mr2p"></div>
              <div class="col-auto zero flex-v f16px positive">{{"60m"}}</div>
            </div>
            <div class="row zero mt5px">
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star positive"></i></div>
              <div class="col-auto zero mr2p"><i class="f16px ion-android-star-outline positive"></i></div>
            </div>
            <div class="row zero mt1px mb10px">
              <div class="col zero">
                <p class="zero text-overflow">서울시 강남구 역삼동 723-1</p>
              </div>
            </div>
            <div class="row zero center">
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
              <div class="col zero p1px">
                <p class="p5 positive positive-b1px r3px f8px text-overflow">태그</p>
              </div>
            </div>
          </div>
        </div>  <!--매장 Node 컨테이너 종료-->

        <!--더보기 버튼-->
        <div class="flex zero mt10px mb10px">
          <div class="dark-grey-b1px r20px pt5px pb5px pl10p pr10p">더보기</div>
        </div>

      </div>  <!--매장 List 컨테이너 종료-->

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>