<ion-view id="walk-through"
    cache-view="true"
>
  <ion-content class="walk-through-content">

    <ion-slide-box class="slide-container"
      show-pager="true"
      delegate-handle="walk-through-slide"
    >
      <ion-slide class="slide zero"
        id="slide{{$index}}"
        ng-repeat="path in vm.Model.imagePaths"
        ng-style="{'background-image': 'url(' + path + ')'}"
      >
      </ion-slide>
    </ion-slide-box>

    <button class="button-icon skip-button absolute"
      ng-click="vm.leaveWalkThrough();"
    >
      Skip
    </button>

  </ion-content>
</ion-view>
