<ion-view id="theme-list"
  cache-view="true"
  hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-title>
    <p class="zero">검색</p>
  </ion-nav-title>

  <ion-content
    delegate-handle="theme-list"
  >
    <div class="relative">  <!--컨텐츠 컨테이너-->
      <div class="relative">  <!--Theme List 컨테이너-->

        <div class="row zero mt0px"
          ng-repeat="theme in vm.Model.themes"
          ng-click="goToState('Main.ThemeSearchList', {themeTitle: theme.title}, 'forward')">
          <div class="col zero">
            <img class="w100p h80p"
              ng-src="{{theme.url}}" alt="테마 사진">
          </div>
        </div>

      </div>  <!--Theme List 컨테이너 종료-->
    </div>
  </ion-content>

  <!-- <ion-footer-bar></ion-footer-bar> -->
</ion-view>