<ion-view id="home"
  cache-view="true"
  hide-back-button="true">
  <ion-nav-title class="bold">
    <p class="zero pl5p">
      JOODANG
    </p>
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button-icon ion-android-search white"
      ng-click="goToState('Main.Search', {}, 'forward');">
    </button>
  </ion-nav-buttons>


  <ion-content class="pb15px com-gradient-bg"
    scroll="false"
  >

    <div class="w100p h100vh flex-h light-grey-bg absolute"
      style="z-index: 2"
      ng-if="vm.Model.loading"
    >
      <ion-spinner class="spinner-40px mt100px" icon="ripple">
      </ion-spinner>
    </div>



    <div>  <!--컨텐츠 컨테이너-->
      <div class="row zero flex pt5vh">
        <div class="col-55">
          <img class="w100p" src="img/home01.png" />
        </div>
      </div>

      <div class="row zero mt5vh flex">
        <div class="col-auto p8 white-b r50px"
          ng-click="goToState('Main.PlaceList', {}, 'forward');"
        >
          <p class="f20px zero white">보러가기</p>
        </div>
      </div>


      <div class="row zero flex absolute bottom8px">
        <div class="col-95 zero flex">
          <!--슬라이드 box-->
          <ion-slide-box class="w100p auto"
            show-pager="false"
          >
            <ion-slide ng-repeat="banner in vm.Model.banners">
              <img class="w100p block h25vw lazy-show"
                ng-src="{{banner.photo.url}}"
              >
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
<!--  -->
<!--  -->
      <!-- <div class="row zero flex mt3vh">
        <div class="col-auto">
          <i class="ion-wineglass f15px white"></i>
        </div>

        <div class="col-auto zero ml5px">
          <p class="white f15px center zero">내 주변 추천술집</p>
        </div>
      </div> -->
