<ion-view id="province-list"
  cache-view="true"
  hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-title>
    <div class="row zero mt0px h100p">
      <div class="col zero flex-v">
        <img class="h23px" src="img/title_search.png" alt="">
      </div>
    </div>
  </ion-nav-title>

  <ion-content class="light-grey-bg"
    delegate-handle="province-list"
  >
    <div class="relative pt1p pb1p">  <!--컨텐츠 컨테이너-->

      <div class="row zero bold positive pl4p pr4p pt5px pb10px grey-bb1px">
        <div class="col-auto zero mr10px">
          <i class="zero lh20px f16px ion-ios-navigate-outline"></i>
        </div>
        <div class="col zero">
          <p class="zero lh20px f14px">지역 선택</p>
        </div>
      </div>

      <div class="relative dark-grey">  <!--지역 List 컨테이너-->

        <!--==================================================================-->
        <!--지역 Node 컨테이너-->
        <div class="relative"
          ng-repeat="(key, valueArray) in vm.Model.province">
          <div class="row zero mt0px pt13px pb13px pr10px pl10px grey-bb1px white-bg"
            ng-click="vm.toggle(key);">
            <div class="col zero pl2p">
              <p class="zero lh16px">{{key}}</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-down-b"
                ng-if="vm.Model.toggleArray.indexOf(key) == -1"></i>
              <i class="zero lh16px ion-arrow-up-b positive"
                ng-if="vm.Model.toggleArray.indexOf(key) != -1"></i>
            </div>
          </div>

          <!--하위 카테고리 컨테이너-->
          <div class="relative"
            ng-if="vm.Model.toggleArray.indexOf(key) != -1">
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt9px pb10px grey-br grey-bb"
                ng-click="goToStateIfGPS('Main.ProvinceSearchList', { province: value.text }, 'forward');"
                ng-repeat="value in valueArray"
              >
                <p class="zero lh16px f12px">{{value.text}}</p>
              </div>
            </div>
          </div>
        </div>  <!--Node 컨테이너 종료-->
        <!--==================================================================-->

      </div>  <!--지역 List컨테이너 종료-->

    </div>
  </ion-content>

  <!-- <ion-footer-bar></ion-footer-bar> -->
</ion-view>