<ion-view id="province-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero pl1p">검색</p>
  </ion-nav-title>

  <ion-content class="light-grey-bg">
    <div class="relative pt1p pb1p">  <!--컨텐츠 컨테이너-->

      <div class="row zero bold positive pl4p pr4p pt5px pb10px grey-bb1px">
        <div class="col-auto zero mr10px">
          <i class="zero lh20px f16px ion-ios-navigate-outline"></i>
        </div>
        <div class="col zero">
          <p class="zero lh20px f14px">지역 선택</p>
        </div>
      </div>

      <div class="relative bold dark-grey">  <!--지역 리스트 컨테이너-->


        <!--==================================================================-->
        <!--지역 Node 컨테이너-->
        <!-- <div class="relative"
          ng-repeat="(key, value) in ProvinceList.Model.province"
        >
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">{{key}}</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b"></i>
            </div>
          </div> -->

          <!--하위 카테고리 컨테이너-->
          <!-- <div class="relative">
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="value in value"
              >
                <p class="zero lh16px f12px">{{value.text}}</p>
              </div>
            </div>
          </div>
        </div> -->
        <!--==================================================================-->


        <div class="relative">  <!--서울 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">서울</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['서울']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">  <!--경기 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">경기</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['경기']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">  <!--인천 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">인천</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['인천']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">  <!--강원 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">강원</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['강원']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">  <!--부산 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">부산</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['부산']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="relative">  <!--경남 Node 컨테이너-->
          <div class="row zero mt0px pt7px pb7px pr10px pl10px grey-bb1px white-bg">
            <div class="col zero pl2p">
              <p class="zero lh16px">경남</p>
            </div>
            <div class="col-auto zero pr3p">
              <i class="zero lh16px ion-arrow-up-b positive"></i>
            </div>
          </div>

          <div class="relative">  <!--하위 카테고리 컨테이너-->
            <!--하위 카테고리(섹션)-->
            <div class="row zero mt0px wrap">
              <div class="col-50 zero flex-v pl4p pr4p pt7px pb7px grey-br grey-bb"
                ng-repeat="province in ProvinceList.Model.province['경남']"
              >
                <p class="zero lh16px f12px">{{province.text}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </ion-content>

  <!-- <ion-footer-bar class=""></ion-footer-bar> -->
</ion-view>