<ion-view id="request-create"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">여기 술집 등록해주세요</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
    class="has-header lighter-grey-bg">
    <!--제휴문의에 대한 이미지 및 설명-->
    <div class="positive-bg pt20px">
      <div class="row zero">
        <div class="col zero flex">
          <img class="h200px"
            src="img/icon_recommend.png" alt="업체 추천 이미지">
        </div>
      </div>
    </div>

    <!--추천 컨테이너-->
    <div class="pt20px pb20px pl5p pr5p">
      <!--상호명-->
      <div class="row zero">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">상호명</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="상호명을 입력해주세요"
            ng-model="vm.Model.sendEmail.placeName" />
        </div>
      </div>

      <!--주점연락처-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">주점연락처</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="20" placeholder="주점연락처를 입력해주세요"
            ng-model="vm.Model.sendEmail.placeNumber" />
        </div>
      </div>

      <!--지역-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">지역</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="지역을 입력해주세요"
            ng-model="vm.Model.sendEmail.location" />
        </div>
      </div>

      <!--신청자 성함-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">신청자성함</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="신청자 성함을 입력해주세요"
            ng-model="vm.Model.sendEmail.name" />
        </div>
      </div>

      <!--신청자 연락처-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">신청자연락처</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="20" placeholder="신청자 연락처를 입력해주세요"
            ng-model="vm.Model.sendEmail.phoneNumber" />
        </div>
      </div>

      <!--제목-->
      <div class="row zero mt5px">
        <div class="col zero flex-v">
          <p class="zero dark-grey bold">제목</p>
        </div>
        <div class="col-70 zero flex-v">
          <input class="placeholder-grey grey-b1px r3px p10px white-bg"
            type="text" maxlength="50" placeholder="제목을 입력해주세요"
            ng-model="vm.Model.sendEmail.title" />
        </div>
      </div>

      <!--내용-->
      <div class="row zero mt5px">
        <div class="col zero">
          <p class="zero dark-grey bold">내용</p>
        </div>
        <div class="col-70 zero flex-v">
          <textarea class="placeholder-grey grey-b1px r3px p10px"
            placeholder="주점 추천 이유를 적어주세요." rows="4"
            ng-model="vm.Model.sendEmail.content"></textarea>
        </div>
      </div>

      <!--추천하기 버튼-->
      <div class="flex mt20px">
        <p class="zero pl25p pr25p pt10px pb10px positive-bg white f16px r20px"
          ng-click="vm.requestCreate();">추천하기</p>
      </div>

    </div>

  </ion-content>

  <!-- <ion-footer-bar class="bar-positive footer zero">
   </ion-footer-bar> -->
</ion-view>