<ion-view id="place-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">내 주변 추천술집</p>
  </ion-nav-title>

  <ion-header-bar class="h30px top44px light-grey-bb1px white-bg"
    no-tap-scroll="true"
  >
    <div class="row pl3p">
      <div class="col-10 flex-v">
        <i class="ion-android-locate positive f20px pl4p"></i>
      </div>
      <div class="col-auto flex-v">
        <p class="f14px zero">{{AppStorage.currentAddress}}</p>
      </div>
      <div class="col flex-v pl5p">
        <p class="f12px zero grey-bg r20px p5"
          ng-click="vm.setCurrentPosition()">재설정</p>
      </div>
    </div>
  </ion-header-bar>

  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>

  <!-- <ion-header-bar class="h35px top74px white-bg"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p">
      <div class="col-auto zero flex-v pl5px pr5px r30px positive-b2px">
        <p class="positive zero bold">프리미엄</p>
      </div>
    </div>
  </ion-header-bar> -->


  <ion-content class="light-grey-bg top74px"
    delegate-handle="place-list"
  >
    <div>   <!--컨텐츠 컨테이너-->
      <div ng-include="'state/0Template/Include/PlaceList.html'">
      </div>
    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>