<ion-view id="my-talk-list"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">내글관리</p>
  </ion-nav-title>

  <ion-content delegate-handle="{{vm.Model.handle}}"
    class="bold darker-grey">
    <div>   <!--컨텐츠 컨테이너-->

      <div ng-include="'state/0Template/Include/TalkList.html'">
      </div>

      <ion-infinite-scroll
        on-infinite="vm.infiniteScroll()"
        immediate-check="false"
        ng-if="vm.Model.more">
      </ion-infinite-scroll>

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>