<ion-view id="talk-detail"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button-icon ion-android-person white"
      ng-click="vm.goToState('Main.Footer.MyTalkList', {}, 'forward', '글쓰기', '로그인 후에 이용가능합니다.');"></button>
    <button class="button-icon ion-edit white"
      ng-click="vm.goToState('Main.Footer.TalkCreate', {}, 'forward', '내글관리', '로그인 후에 이용가능합니다.');"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">주당톡</p>
  </ion-nav-title>

  <ion-header-bar class="h30px top44px grey-bb1px white-bg"
    no-tap-scroll="true"
  >
    <div class="row zero pl3p pr3p">
      <div class="col zero flex-v">  <!--왼쪽-->
        <p class="zero f14px bold positive">{{vm.Model.post.category}}</p>
      </div>
    </div>
  </ion-header-bar>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex-h pt250px light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>


  <ion-content delegate-handle="talk-detail"
    class="top74px darker-grey">
    <div class="pb100px">   <!--컨텐츠 컨테이너-->

      <div>  <!--주당톡 List 컨테이너-->
        <!--주당톡 Node 컨테이너 (일반)-->
        <div class="grey-bb1px pl5p pr5p pt5px pb5px">
          <div class="row zero">

            <div class="col-auto zero mr2p flex-v">
              <img class="h37px w37px r50p"
                ng-if="vm.Model.post.isAnnonymous || !vm.Model.post.owner.profilePhoto.url"
                src="img/defaultimg.png" />
              <img class="h37px w37px r50p"
                ng-if="!vm.Model.post.isAnnonymous && vm.Model.post.owner.profilePhoto.url"
                ng-src="{{vm.Model.post.owner.profilePhoto.url}}" />
            </div>

            <div class="col zero">
              <div class="row zero mt0px">
                <div class="col zero flex-v">
                  <p class="zero">[{{vm.Model.post.category}}] {{vm.Model.post.title}}</p>
                </div>
              </div>
              <div class="row zero mt0px">
                <div class="col-auto zero flex-v mr2p">
                  <p class="zero f12px dark-grey">{{vm.Model.post.createdBy.nickname}}</p>
                </div>
                <div class="col-auto zero flex-v">
                  <p class="zero f11px grey">{{vm.Model.post.createdAt | date: 'HH:mm'}}
                </div>
              </div>
            </div>

            <div class="col-auto zero w40px z-index10"
              ng-if="isOwner(vm.Model.post.owner);"
              ng-click="vm.toggleMore();">
              <div class="row zero">
                <div class="col zero flex">
                  <div class="relative">
                    <i class="zero f40px lh40px ion-android-more-vertical positive"></i>

                    <div class="absolute top10px right30px w120px white-bg shadow"
                      ng-if="vm.Model.toggleMore">  <!--더보기 버튼 누르면 나오는 수정, 삭제버튼-->
                      <div class="row zero mt0px grey-bb1px"
                        ng-click="goToState('Main.Footer.TalkUpdate', {postId: vm.Model.post.id}, 'forward');">
                        <div class="col zero flex">
                          <p class="zero f16px lh40px">수정</p>
                        </div>
                      </div>
                      <div class="row zero mt0px" id="deleteBtn"
                        ng-click="vm.openModal();">
                        <div class="col zero flex">
                          <p class="zero f16px lh40px">삭제</p>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>  <!--주당톡 Node 컨테이너 종료-->
      </div>  <!--주당톡 List 컨테이너 종료-->

      <!--주당톡의 내용-->
      <div>
        <ion-slide-box show-pager="true">
          <ion-slide ng-repeat="photo in vm.Model.post.photos">
            <img class="w100p h75vw"
              ng-src="{{photo.url}}" />
          </ion-slide>
        </ion-slide-box>
        <div class="row zero mt0px p15px dark-grey">
          <div class="col zero">
            <p>{{vm.Model.post.content}}</p>
          </div>
        </div>
      </div>


      <div class="row zero dark-grey p2p light-bg">
        <div class="col zero flex-v">
          <p class="zero">댓글 {{vm.Model.post.commentCount}}개</p>
        </div>
      </div>

      <!--주당톡 Node 컨테이너-->
      <div class="grey-bb1px pl3p pr3p pt5px pb5px"
        ng-repeat="comment in vm.Model.comments | orderBy: 'createdAt'">
        <div class="row zero">

          <div class="col-auto zero mr2p flex-v">
            <img class="h37px w37px r50p"
              ng-src="{{comment.owner | GetPhoto}}" alt="프로필사진" />
          </div>

          <div class="col zero">
            <div class="row zero mt0px mb5px">
              <div class="col-auto zero flex-v mr2p">
                <p class="zero f12px dark-grey">{{comment.owner.nickname}}</p>
              </div>
              <div class="col-auto zero flex-v">
                <p class="zero f11px grey">{{comment.createdAt | date: 'HH:mm'}}
              </div>
            </div>
            <div class="row zero mt0px">
              <div class="col zero flex-v">
                <p class="zero">{{comment.content}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>  <!--주당톡 Node 컨테이너 종료-->

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>


  <!--아이콘 | 사장님 아이디 | 작성일자-->
  <ion-footer-bar class="zero h85px flex bottom44px light-bg">
    <div class="relative w100p pl1p pr1p">
      <div class="row zero pl10px">
        <div class="col-auto zero flex-v"
          ng-click="vm.isAnnonymousToggle();">
          <i class="zero f20px lh24px pr5px ion-checkmark-circled"
            ng-class="{
              'positive': vm.Model.comment.isAnnonymous,
              'white': !vm.Model.comment.isAnnonymous
            }"></i>
        </div>
        <div class="col-auto zero flex-v">
          <p class="zero f14px lh24px bold">익명</p>
        </div>
      </div>

      <div class="row zero mt5px">
        <div class="col-90 zero">
          <input class="p10px grey grey-b1px white-bg placeholder-grey h40px w100p br0px"
            ng-model="vm.Model.comment.content"
            type="text" name="" placeholder="댓글을 달아주세요. (100자)" maxlength="100" />
        </div>
        <div class="col-10 zero flex">
          <div class="top4px right10px white-bg h40px w100p grey-b1px bl0px flex-v">
            <p class="zero r50p center w32px h32px lh32px grey-bg white f13px"
              ng-click="needLogin()
                        ? vm.commentCreate()
                        : return;">등록</p>
          </div>
        </div>
      </div>
    </div>
  </ion-footer-bar>

</ion-view>