//====================================================
//  Variables
//====================================================
$lighter: #fbf4f5 !default;
$light: #f7e8ec !default;
$stable: #9b2142 !default;
$positive: #ac1e44 !default;
$calm: #bd4b69 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #e1053e !default;
$royal: #886aea !default;

$dark: #104e80 !default;
$darker: #000 !default;
$white: #fff !default;
$black: #283030 !default;
$lighter-grey: #fafafa !default;
$light-grey: #eaeaea !default;
$grey: #cccccc !default;
$dark-grey: #666 !default;
$darker-grey: #333 !default;

$red: red !default;
$green: green !default;
$blue: blue !default;

$color0: #dcc1c8 !default;  //MessageCreate의 내가보낸쪽지 배경색
$color1: pink !default;
$color2: pink !default;
$color3: pink !default;
$color4: pink !default;
$color5: pink !default;
$color6: pink !default;
$color7: pink !default;
$color8: pink !default;
$color9: pink !default;
$img: '../img';
$app-directions: 'top',
'right',
'bottom',
'left';
$app-directions-vertical: 'top',
'bottom';
$app-directions-horizontal: 'bottom',
'left';
$app-colors: 'lighter',
'light',
'stable',
'positive',
'calm',
'balanced',
'energized',
'assertive',
'royal',
'dark',
'darker',
'white',
'black',
'lighter-grey',
'light-grey',
'grey',
'dark-grey',
'darker-grey',
'red',
'green',
'blue',
'color0',
'color1',
'color2',
'color3',
'color4',
'color5',
'color6',
'color7',
'color8',
'color9';
