//====================================================
//  Icons
//====================================================
.ion-android-arrow-back {
  padding: {
    left: 10px !important;
    right: 8px !important;
  }
  &::before {
    font-size: 24px !important;
    color: $stable;
  }
}

.ion-edit::before {
  font-size: 20px !important;
}

.ion-android-share-alt::before {
  font-size: 24px !important;
  color: $stable;
}

.ion-pinpoint::before {
  font-size: 24px !important;
  color: $stable;
}

.ion-navicon::before {
  color: $stable;
}

.ion-ios-search-strong::before {
  font-size: 20px !important;
  color: $stable;
}

.icon.ion-record {
  color: $stable;
}

.spinner {
  svg {
    fill: $positive;
    stroke: $positive;
  }
}

.loading {
  background-color: $stable;
}

@for $i from 1 through 200 {
  .spinner-#{$i}px {
    width: #{$i}px;
    height: #{$i}px;
    &.spinner svg {
      width: #{$i}px;
      height: #{$i}px;
    }
  }
}

@for $i from 1 through 100 {
  .icon-f#{$i}px::before {
    font-size: #{$i}px !important;
  }
}
