//====================================================
//  Animation
//====================================================
.mh-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0
}

.mh-slide.ng-enter,
.mh-slide > .ng-enter {
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 100ms;
}

.mh-slide.ng-enter-active,
.mh-slide > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.mh-slide.ng-leave,
.mh-slide > .ng-leave {
  transition: all ease-in-out 50ms;
}

//====================================================
//  Instant Slide
//====================================================
.instant-slide {
  -webkit-transform: translate3d(0, 0, 0) scale(0);
  transform: translate3d(0, 0, 0) scale(0);
  opacity: 0
}

.instant-slide.ng-enter,
.instant-slide > .ng-enter {
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 1ms;
}

.instant-slide.ng-enter-active,
.instant-slide > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}

.instant-slide.ng-leave,
.instant-slide > .ng-leave {
  transition: all ease-in-out 1ms;
}
