<ion-view id="notice-detail"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">공지사항</p>
  </ion-nav-title>
  
  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex-h pt250px light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>

  <ion-content 
    delegate-handle="notice-detail"
  >
    <div>  <!--컨텐츠 컨테이너-->

      <div class="grey-bb1px pt6px pb6px pl5p pr5p">  <!--제목 컨테이너-->
        <div class="row zero">
          <div class="col zero">
            <div class="row zero mt5px">
              <div class="col zero flex-v">
                <p class="zero f16px lh20px darker-grey">{{vm.Model.post.title}}</p>
              </div>
            </div>
            <div class="row zero mt5px">
              <div class="col zero flex-v">
                <p class="zero f14px lh20px grey">{{vm.Model.post.createdAt | date: 'yyyy.MM.dd'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt15px pb40px pl5p pr5p">  <!--내용 컨테이너-->
        <div class="row zero">
          <div class="col zero">
            <p class="zero f14px lh20px dark-grey">
              {{vm.Model.post.content}}
            </p>
          </div>
        </div>
      </div>

    </div>
  </ion-content>

  <!-- <ion-footer-bar class="bottom44px zero">
  </ion-footer-bar> -->

</ion-view>