<ion-view id="talk-list"
  cache-view="true"
  hide-back-button="true"
>
  <!-- <ion-nav-buttons side="left">
    <button class="button-icon ion-android-arrow-back white"
      ng-click="goBack();">
    </button>
  </ion-nav-buttons> -->

  <ion-nav-buttons side="right">
    <button class="button-icon ion-android-person white f26px"
      ng-click="needLogin()
                ? goToState('Main.Footer.MyTalkList', {}, 'forward')
                : return;"></button>
    <button class="button-icon ion-edit white"
      ng-click="needLogin()
                ? goToState('Main.Footer.TalkCreate', {}, 'forward')
                : return;"></button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">주당톡</p>
  </ion-nav-title>

  <ion-header-bar class="h36px grey-bb1px white-bg"
    no-tap-scroll="true"
    top="44"
  >
    <div class="row zero pl3p pr3p mt0px">
      <div class="col zero flex-v">  <!--왼쪽-->
        <p class="zero f14px bold positive">{{vm.Model.selectedCategory}}</p>
      </div>
      <div class="col-30 zero flex-v">
        <div class="relative w100p"
          ng-click="vm.categoryToggle();">  <!--오른쪽 선택박스-->
          <div class="row zero dark-grey-b1px pl10p pr10p r3px dark-grey">
            <div class="col zero flex-v">
              <p class="zero f14px bold">{{vm.Model.selectedCategory}}</p>
            </div>
            <div class="col-10 zero flex-v"><i class="ion-arrow-down-b"></i></div>
          </div>
          <!--메뉴선택박스-->
          <div class="absolute white w100p r3px darker-grey-bg pt10px pb10px opacity9"
            ng-if="vm.Model.categoryToggle">
            <div class="row zero pl10p pr10p"
              ng-click="vm.selectCategory('전체');">
              <div class="col zero">
                <p class="zero lh30px">전체</p>
              </div>
            </div>
            <div class="row zero pl10p pr10p"
              ng-click="vm.selectCategory('자유톡');">
              <div class="col zero">
                <p class="zero lh30px">자유톡</p>
              </div>
            </div>
            <div class="row zero pl10p pr10p"
              ng-click="vm.selectCategory('연애톡');">
              <div class="col zero">
                <p class="zero lh30px">연애톡</p>
              </div>
            </div>
            <div class="row zero pl10p pr10p"
              ng-click="vm.selectCategory('번개톡');">
              <div class="col zero">
                <p class="zero lh30px">번개톡</p>
              </div>
            </div>
            <div class="row zero pl10p pr10p"
              ng-click="vm.selectCategory('유머톡');">
              <div class="col zero">
                <p class="zero lh30px">유머톡</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-header-bar>

  <!-- Loading -->
  <ion-pane ng-if="vm.Model.loading">
    <section class="absolute w100p h100p flex light-grey-bg z-index5">
      <ion-spinner class="spinner-40px" icon="ripple">
      </ion-spinner>
    </section>
  </ion-pane>


  <ion-content class="darker-grey"
    top="80"
    delegate-handle="talk-list"
  >
    <div>   <!--컨텐츠 컨테이너-->

      <div>  <!--공지 List 컨테이너-->

        <!--공지 Node 컨테이너-->
        <div class="grey-bb1px pl5p pr5p pt13px pb13px lighter-bg"
          ng-repeat="notice in vm.Model.notices
                    | orderBy: notice.id"
          ng-click="goToState('Main.Footer.TalkDetail', {postId: notice.id}, 'forward');">
          <div class="row zero">
            <div class="col zero">
              <p class="zero f14px">[공지] {{notice.title}}</p>
            </div>
          </div>
        </div>  <!--공지 Node 컨테이너 종료-->

      </div>  <!--공지 List 컨테이너 종료-->

      <div ng-include="'state/0Template/Include/TalkList.html'">
      </div>

      <ion-infinite-scroll
        on-infinite="vm.infiniteScroll()"
        immediate-check="false"
        ng-if="vm.Model.more">
      </ion-infinite-scroll>

    </div>  <!--컨텐츠 컨테이너 종료-->
  </ion-content>
</ion-view>